

/* second section starts here */
#second-section h2{
    text-align: center;
    
}
#second-section .row{
    padding: 0% 7%;
}
.feature-title{
    font-size: 1.5rem;
    margin-top: 20px;
    color: white;    
}

.feature-box{
    text-align: center;
    padding: 1%;    
}

.feature-box p{
    color: rgb(139, 1, 251);   
}

.feature-icon{
    border: 7px solid white;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 10px;
}


.feature-box .card .face{   
    height: 200px;
    transition: 0.5s;
}

.feature-box .card .face1{
    position: relative;
    background: #4E008E;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.feature-box .card:hover .face1{
    transform: translateY(0);
    background: rgb(139, 1, 251);
}

.feature-box .card .face1 .content{
    text-align: center;
    opacity: 0.5;
    transition: 0.5s;
}

.feature-box .card:hover .face1 .content{
   opacity: 1;
}

.feature-box .card .face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0,20,15 rgba(0,0,0,0.8);
    transform: translateY(-100px);
    border: 2px solid transparent;

}

.feature-box .card:hover .face2{    
   transform: translateY(0);
   border-color: rgb(139, 1, 251);
}
/* second section ends here */



@media (max-width: 900px){
     
    #third-section .timeline:before{
        content: none;    
    }

    #third-section .timeline ul li{    
        width: 100%;
        padding: 15px 10px;    
    }
    #third-section .timeline ul li:nth-child(odd){
        float: none;
        text-align: center;    
    }
    #third-section .timeline ul li:nth-child(even){
        float: none;
        text-align: center;        
    }
    #third-section .timeline ul li:nth-child(odd):before{
        content: none;
    }

    #third-section .timeline ul li:nth-child(even):before{
        content: none;
    }        
}
