body{
    font-family:'Arial','Montserrat-Black', sans-serif;
    width: 1440px;
    margin: 0 auto;

}
#header{
    height: 450px;
    background-color: rgb(109, 22, 190);
    z-index: 2;
}
.header-left{
    width: 580px;
    color: white;
    padding-top: 10px;
    padding-left: 120px ;
    float: left;
    padding-right: none;
    
}
.header-left span{
    font-size: 39px;
    display: block;
    font-weight: bolder;
}
.header-left img{
    height: 170px;
    width: 160px;

}
.header-right {
    float:left;
    width: 700px;
    margin-right: 0px;
    padding-top: 25px;
    
}
.header-right ul{
    margin-left: 150px;
}
.header-right ul li {
    list-style-type: none;
    float: left;
    padding: 25px;
}
.header-right ul li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 25px;
}
.header-right ul li a:hover{
    background-color: tomato;
}
.header-right img{
    width: 300px;
    
}
.button{
    background-color: rgb(109, 22, 190);
    color: white;
    padding: 10px;
    font-size: 15px;
    border: wheat solid 1px;
    border-radius: 2px;
    cursor: pointer;
}
.button:hover{
    background-color: tomato;
}
.zindex{
    text-align: center;
    height: 200px;
    background-color: white;
    border: rgb(109, 22, 190) solid 1px;
    border-radius: 5px;
    width: 80%;
    margin: auto;
    z-index: 1;
    margin-top: -25px;
    margin-bottom: -25px;
    padding: 15px;
    position: relative;
}
/*  card section */

/* second section starts here */
    
.bottom{
    text-align: center;
    height:800px;
    background-color: rgb(109, 22, 190);
    z-index: 2;
    padding-top: 100px;
    color: white;
}


.bottom h1{
    text-align: center;
    
}
.row{
    background-color: black;
    margin-left: 40px;
}
.feature-title{
    font-size: 1.5rem;
    margin-top: 20px;
    color: white;    
}

.feature-box{
    text-align: center;
    padding: 2%;   
    width: 400px;
    float: left; 
}

.feature-box p{
    color: rgb(139, 1, 251);   
}

.feature-icon{
    border: 7px solid white;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 10px;
}
.feature-icon2{
    width: 120px;
    height: 120px;
    border: 7px solid white;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 10px;
}


.feature-box .card .face{   
    height: 200px;
    transition: 0.5s;
}

.feature-box .card .face1{
    position: relative;
    background: #4E008E;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.feature-box .card:hover .face1{
    transform: translateY(0);
    background: rgb(139, 1, 251);
}

.feature-box .card .face1 .content{
    text-align: center;
    opacity: 0.5;
    transition: 0.5s;
}

.feature-box .card:hover .face1 .content{
   opacity: 1;
}

.feature-box .card .face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0,20,15 rgba(0,0,0,0.8);
    transform: translateY(-100px);
    border: 2px solid transparent;

}

.feature-box .card:hover .face2{    
   transform: translateY(0);
   border-color: rgb(139, 1, 251);
}

/* second section ends here */

.footer{
    text-align: center;
    height: 250px;
    background-color: rgb(53, 41, 70);
    color: white;
    border: rgb(109, 22, 190) solid 1px;
    border-radius: 5px;
    width: 1440px;
    margin: auto;
    z-index: 1;
    margin-top: 0px;
    position: relative;
}

/* 
@media (max-width: 1024px){
     
    #third-section .timeline:before{
        content: none;    
    }

    #third-section .timeline ul li{    
        width: 100%;
        padding: 15px 10px;    
    }
    #third-section .timeline ul li:nth-child(odd){
        float: none;
        text-align: center;    
    }
    #third-section .timeline ul li:nth-child(even){
        float: none;
        text-align: center;        
    }
    #third-section .timeline ul li:nth-child(odd):before{
        content: none;
    }

    #third-section .timeline ul li:nth-child(even):before{
        content: none;
    }        
} */
